<div class="container body-content">

    <h1>@ViewBag.title</h1>

<table class="job-listing">
    @foreach (Job listing in ViewBag.jobs)
    {
    <tr>
        <td>
            <p>Id: @listing.Id</p>
            <p>Name: @listing.Name</p>
            <p>Employer: @listing.Employer</p>
            <p>Location: @listing.Location</p>
            <p>Position Type: @listing.PositionType</p>
            <p>Skills: @listing.CoreCompetency</p>
        </td>
    </tr>
    }
</table>

</div>